.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.15px;
    color: var(--color-text-light);
    min-height: 32px;
    padding: 9px 50px;
    cursor: pointer;
    transition: background-color .3s;
    border: 1px solid var(--color-text-light);
    opacity: var(--opacity-text);
    transition: 0.8s;
    &:hover{
        background-color: var(--color-text-light);
        color: var(--color-text);
    }
    
}

